# Firebase Configuration
FIREBASE_PROJECT_ID="project-id"
FIREBASE_PRIVATE_KEY="private-key"
FIREBASE_CLIENT_EMAIL="client-email"

# TMDB API Configuration
TMDB_API_KEY="api-key"

# Firebase Functions Configuration
FIREBASE_FUNCTIONS_REGION=us-central1 